<!DOCTYPE html>
<html>
<head>
    <title>Remove Student</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <h1>Remove Student</h1>

    <form method="POST">
        <input type="text" class="search-box" name="first_name" placeholder="First Name" required>
        <input type="text" class="search-box" name="last_name" placeholder="Last Name" required>
        <button type="submit" class="btn">Remove</button>
    </form>

    <a href="/" class="btn back-btn">Back to home</a>

</body>
</html>